.PopupNameBlur {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PopupName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 250px;
  font-size: 25px;
  background: #dcdcdc;
  border-radius: 10px;
}

.PopupName h2 {
  margin: 0;
  padding-bottom: 15px;
}
